@model ErrorViewModel
@{
    ViewData["Title"] = "שגיאה";
}

<h1 class="text-danger">שגיאה</h1>
<h2 class="text-danger">ארעה שגיאה בפעולה המבוקשת</h2>

@if (Model.ShowErrorDescription)
{
    <p>
        <strong>תיאור השגיאה:</strong> @Model.ErrorDescription
    </p>
}


    <p>
        @if (Model.ShowLink)
{
        <a asp-controller="@Model.ControllerToLink" asp-action="@Model.ActionToLink">@Model.TextToLink</a> <span>|</span>
}
        <a asp-controller="Home" asp-action="Index">חזרה לעמוד הבית</a>
    </p>

