@{
    ViewData["Title"] = "דף הבית";
}

<div class="text-center">
    <h2>ברוכים הבאים ל YYYTours</h2>
</div>

<div>
    <h4>המדריכים שלנו</h4>

    <div class="row">
        <div class="col-md-4">
            <p>הכנות לשביל ישראל</p>
            <video style="margin:20px;" width="310" height="180" controls> <source src="~/guideVideos/IsraelRoadPreperations.mp4" type="video/mp4"> </video>
        </div>

        <div class="col-md-4">
            <p>ציוד בסיסי לשטח</p>
            <video style="margin:20px;" width="310" height="180" controls> <source src="~/guideVideos/TravelEquipment.mp4" type="video/mp4"> </video>
        </div>

        <div class="col-md-4">
            <p>הדלקת אש עם אבן אש</p>
            <video style="margin:20px;" width="310" height="180" controls> <source src="~/guideVideos/UsingFireStone.mp4" type="video/mp4"> </video>
        </div>
    </div>
</div>

